<header class="z-index0">
    <div class="nav_desktop-tablet"> <a href="#page_one" class="nav-btn">Songs</a> <a href="#page_two" class="nav-btn">Events</a> <a href="#page_three" class="nav-btn">Band</a> <a href="#page_four" class="nav-btn">Contact</a>
        <a href="#landing-page">
            <div class="logo"></div>
        </a>
    </div>
    <div class="nav_mobile">
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="material-icons">close</i></a>
            <div class="overlay-content"> <a href="#page_one" onclick="closeNav()">Songs</a> <a href="#page_two" onclick="closeNav()">Events</a> <a href="#page_three" onclick="closeNav()">Band</a> <a href="#page_four" onclick="closeNav()">Contact</a> </div>
        </div>
        <div class="logo">
            <a href="#landing-page" class="logo">
                <p class="logo">VA</p>
            </a>
        </div>
        <div class="hamburger_menu"><i onclick="openNav()" class="material-icons hide">menu</i></div>
        <div class="float-clear"></div>
    </div>
</header>